img {
  width: 80%;
}
:root {
  --primary-color: #584630;
  --secondary-color: #97764e;
  --third-color: #ca9e67;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.3s;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
.App {
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
}
.background {
  z-index: -1;
  position: fixed;
  width: 100%;
  /* height: 100%; */
}
.background img {
  width: 100%;
  height: 100%;
}
.nav-bar {
  width: 100%;
  position: fixed;
  top: 0;
  height: 100px;
  background: rgb(255, 255, 255);
  display: flex;
  z-index: 99;
  padding: 1%;
}

.Logo {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: 2;
}

.Logo h1 {
  width: 90px;
  height: 90%;
  border-radius: 50%;
  border: 2px solid black;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 0.8rem;
  border-radius: 15px;
  height: 90%;
  border: 2px solid black;
  background: #fff;
  flex-grow: 2;
  font-weight: 900;
}
.link {
  background: var(--primary-color);
  border-radius: 5px;
  width: 200px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  color: rgb(179, 170, 170);
  box-shadow: 3px 3px 3px black;
}
.link:hover {
  background: var(--secondary-color);
  color: #000;
  box-shadow: 2px 2px 2px black;
}

.link:active {
  background: var(--third-color);
  color: #000;
  box-shadow: none;
}

.Slider {
  margin: 100px 50px 0;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid grey;
  background: #fff;
}
.qui-img {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.qui {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  min-height: 500px;
  gap: 2rem;
  box-shadow: 3px 3px 3px black;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 15px;
  text-align: justify;
  background: #fff;
}

.qui h3 {
  font-weight: 900;
  font-size: 2.5rem;
}
.qui p {
  font-weight: 600;
  font-size: 1rem;
}
.image {
  width: 40%;
  height: 100%;
  box-shadow: 3px 3px 3px black;
  border: 2px solid black;
  border-radius: 2rem;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  min-height: 600px;
  gap: 2rem;
  border: 3px inset black;
  border-radius: 2rem;
  padding: 15px;
  text-align: justify;
  background: #fff;
}

.equipe > h3 {
  font-weight: 900;
  font-size: 2.5rem;
  text-transform: capitalize;
}

.members {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
}
.member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  min-height: 200px;
  gap: 2rem;
  box-shadow: 3px 3px 3px black;
  border: 2px solid black;
  border-radius: 2rem;
  padding: 15px;
  text-align: center;
}
.equipe p {
  font-weight: 600;
  font-size: 1rem;
}

form {
  width: 80%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.form-input {
  display: grid;
  gap: 15px;
  width: 80%;
  grid-template-columns: 40% 50%;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}
